# Server Configuration
PORT=3000
NODE_ENV=development
SESSION_SECRET=super-secret-key-change-me

# Database Configuration
DB_NAME=database.db

# Security
CLIENT_ORIGIN=http://localhost:3000
CORS_ORIGIN=http://localhost:3000
